.content {
    display: flex;
    justify-content: center;
    > * {
        margin: 0 !important;
        padding: 0 15px 0 15px;
        &:not(:last-child) {
            border-right: 1px solid rgba(34, 36, 38, 0.1) !important;
        }
    }
    margin-bottom: 10px;
}

.cell {
    white-space: nowrap;
}

.rank {
    width: 2em;
}